%h1 Edit Podcast

%p
  %strong NOTE: If you change the 'slug' value after submitting your podcast to iTunes it's feed URL will change requiring you to resubmit your feed to iTunes.

= render :partial => 'form'
